

@mixin mediabreakpoint ($point) {
  @if $point == desktop {
    @media (min-width: 1025px) { @content;}
  }
  @if $point == tablet {
    @media (min-width: 768px) and  (max-width: 1024px) { @content;}
  }
  @if $point == mobile {
    @media (max-width: 767px) { @content;}
  }
}

$sf-primary-btn-color: #f66711;

.app-bg {
  background-color: white;
}
.primary-gradient {
  min-height: 30px;
  background-image: radial-gradient(circle at 0 0, rgb(255, 94, 0), orange);
}
.red-gradient {
  min-height: 30px;
  background-image: radial-gradient(circle at 0 0,#ffbf76,#e6473d);
}
.blue-gradient {
  min-height: 30px;
  background-image: radial-gradient(circle at 0 0, #013ADF, #81BEF7);
}

.light-blue-gradient {
  min-height: 30px;
  background-image: radial-gradient(circle at 0 0,#ffbf76,#e6473d);
}
.align-c {
  text-align: center;
}
.position-fixed{
  position: fixed;
}
.f-regular {
  font-weight: 400 !important;
}

.f-bold {
  font-weight: 700 !important;
}

.font-xsm {
  font-size: 12px;
  line-height:normal;
  @include mediabreakpoint(mobile) {
    font-size: 11px;
  }
}
.font-sm {
  font-size: 14px;
  line-height:normal;
  @include mediabreakpoint(mobile) {
    font-size: 14px;
  }
}
.font-md {
  font-size: 18px !important;
  line-height:normal;
  @include mediabreakpoint(mobile) {
    font-size: 16px !important;
  }
}

.font-lg {
  font-size: 24px !important;
  line-height:normal;
  @include mediabreakpoint(mobile) {
    font-size: 20px!important;
  }
}
.font-xxxl {
  font-size: 5rem !important;
  line-height:normal;
  @include mediabreakpoint(mobile) {
    font-size: 3rem !important;
  }
}
.f-18px {
  font-size: 1.125rem;
  line-height: 20px;
}
.f-24px {
  font-size: 1.5rem;
  line-height: 26px;
}
.f-40px {
  font-size: 2.5rem;
  line-height: normal;
}

.p-sm {
  padding: 8px;
}
.p-md {
  padding: 16px;
}
.p-lg {
  padding: 24px;
}
.p-xl {
  padding: 32px;
}

.p-top-sm {
  padding-top: 8px;
}
.p-top-md {
  padding-top: 16px;
}
.p-top-lg {
  padding-top: 24px;
}
.p-top-xl {
  padding-top: 32px;
}

.p-bot-sm {
  padding-bottom: 8px;
}
.p-bot-md {
  padding-bottom: 16px;
}
.p-bot-lg {
  padding-bottom: 24px;
}
.p-bot-xl {
  padding-bottom: 32px;
}

.p-left-sm {
  padding-left: 8px;
}
.p-left-md {
  padding-left: 16px;
}
.p-left-lg {
  padding-left: 24px;
}
.p-left-xl {
  padding-left: 32px;
}
.p-no {
  padding: 0px !important;
}

.m-top-sm {
  margin-top: 8px;
}
.m-top-md {
  margin-top: 16px;
}
.m-top-lg {
  margin-top: 24px;
}
.m-top-xl {
  margin-top: 32px;
}

.m-bot-sm {
  margin-bottom: 8px;
}
.m-bot-md {
  margin-bottom: 16px;
}
.m-bot-lg {
  margin-bottom: 24px;
}
.m-bot-xl {
  margin-bottom: 32px;
}

.m-left-sm {
  margin-left: 8px;
}
.m-left-md {
  margin-left: 16px;
}
.m-left-lg {
  margin-left: 24px;
}
.m-left-xl {
  margin-left: 32px;
}

.m-right-sm {
  margin-right: 8px;
}
.m-right-md {
  margin-right: 16px;
}
.m-right-lg {
  margin-right: 24px;
}
.m-right-xl {
  margin-right: 32px;
}

.c-box-shadow {
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  border: 1px solid transparent;
  border-top: 1px solid #f1f1f5;
}

.c-box-shadow-blue {
  box-sizing: border-box;
  box-shadow: 0 5px 10px 0 rgb(17 67 206 / 45%);
  border: 1px solid transparent;
  border-top: 1px solid #f1f1f5;
}

.image-container {
  position: relative;
  text-align: center;
}
.page-top-image {
  max-width: 100%;
  min-height: 100px;
  max-height: 172px;
}
.page-image-content {
  position: absolute;
  bottom: 8px;
}
.sf-flex {
  display: flex;
}
.sf-justify {
  justify-content: space-between;
}
@media only screen and (max-width: 678px) {
  .nopadding {
    padding: 0px !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
.text-red{
  color:#e6473d;
}
.border-red{
 border:  5px solid red;
}

.label {
  display: block;
  margin-top: 1em;
}

.input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

.c-box-shadow {
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    border: 1px solid transparent;
    border-top: 1px solid #f1f1f5;
}
.c-box-shadow-blue {
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgb(17 67 206 / 45%);
    border: 1px solid transparent;
    border-top: 1px solid #f1f1f5;
}
.logoicon{ 
	position:absolute; 
} 

.flex {
    display: flex;
}
.homepage-s {
    background-size: cover;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    // padding-left: 10%;
    // padding-right: 10%;
}
.wh-container {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: black;
  }
  .sfwarehouse-img {
    background-image: url('../../public/static/images/sfwarehouse.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }

  .sfwarehouse-s-img {
    background-image: url('../../public/static/images/sfbanner.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 30vh;
    width: 100%;
    opacity: 0.9;
  }


.w100 {
    width: 100%;
}
.font-white {
    color: white !important;
}

.font-gray {
    color: #273746;
}

.font-arial {
   font-family: 'Lato', 'Arial';
}
.relative-p{
    position: relative;
}
.sflogo-container {
    width: 15%;
    height: 15%;
    padding-left: 20px;
}
.sflogo {
    width: 100%;
    height: auto;
}
.sflogo-s-container {
  padding-left: 20px;
    width: 30wh;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
    
}
.sflogo-s {
    width: 20wh;
    height: 20vh;
    border-radius: 70px;
}

.red-border {
    border-bottom-width: 12px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255,82,82,1);
}

.homepage-spce-list {
  padding-left: 10%;
  padding-right: 10%;

  @media only screen and (max-width: 678px) {
    padding-left: 0%;
    padding-right: 0%;
  }
}

.headerContainer{
  display: block;
  position: fixed;
  z-index: 20;
  width: 98%;
  text-align: right;
}

.align-right{
  position: absolute;
  right: 0px;
}



/*===========================
  SING IN SING UP css 
===========================*/
.signin-one {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--light-2);
}
.signin-one .form-input {
  margin-top: 16px;
}
.signin-one .form-input .main-btn {
  width: 100%;
}
.signin-one .form-input .text {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-3);
}
.signin-one .form-input .text a {
  color: var(--primary);
}
.signin-one .signin-form {
  background-color: var(--white);
  padding: 40px;
  border: 1px solid var(--gray-4);
  border-radius: 8px;
}
.signin-one .rounded-buttons {
  margin-top: 20px;
}
.signin-one .rounded-buttons .primary-btn {
  width: 100%;
}
.signin-one .rounded-buttons .primary-btn-outline {
  width: 100%;
}
.signin-one .form-input .help-block {
  margin-top: 2px;
}
.signin-one .form-input .help-block .list-unstyled li {
  font-size: 12px;
  line-height: 16px;
  color: var(--error);
}
.signin-one .form-input label {
  font-size: 12px;
  line-height: 18px;
  color: var(--dark-3);
  margin-bottom: 8px;
  display: inline-block;
}
.signin-one .form-input .input-items {
  position: relative;
}
.signin-one .form-input .input-items input, .signin-one .form-input .input-items textarea {
  width: 100%;
  height: 44px;
  border: 2px solid;
  padding-left: 44px;
  padding-right: 12px;
  position: relative;
  font-size: 16px;
}
.signin-one .form-input .input-items textarea {
  padding-top: 8px;
  height: 130px;
  resize: none;
}
.signin-one .form-input .input-items i {
  position: absolute;
  top: 11px;
  left: 13px;
  font-size: 20px;
  z-index: 9;
}
.signin-one .form-input .input-items.default input, .signin-one .form-input .input-items.default textarea {
  border-color: var(--gray-4);
  color: var(--dark-3);
}
.signin-one .form-input .input-items.default input:focus, .signin-one .form-input .input-items.default textarea:focus {
  border-color: var(--primary);
}
.signin-one .form-input .input-items.default input::placeholder, .signin-one .form-input .input-items.default textarea::placeholder {
  color: var(--dark-3);
  opacity: 1;
}
.signin-one .form-input .input-items.default i {
  color: var(--dark-3);
}
.signin-one .form-input .input-items.error input, .signin-one .form-input .input-items.error textarea {
  border-color: var(--error);
  color: var(--error);
}
.signin-one .form-input .input-items.error input::placeholder, .signin-one .form-input .input-items.error textarea::placeholder {
  color: var(--error);
  opacity: 1;
}
.signin-one .form-input .input-items.error i {
  color: var(--error);
}
.signin-one .form-style-two .form-input .input-items input, .signin-one .form-style-two .form-input .input-items textarea {
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 44px;
}
.signin-one .form-style-two .form-input .input-items i {
  left: auto;
  right: 13px;
}

.signin-content .signin-title {
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
}
.signin-content .text {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-3);
  margin-top: 8px;
}
