/* .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}


#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
} */


/* You can add global styles to this file, and also import other style files */

/* === Plugin styles === */

@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "~nouislider/distribute/nouislider.min.css";
// @import '~react-bootstrap-typeahead/css/Typeahead.css';
// @import '~react-bootstrap-typeahead/css/Typeahead-bs4.css';
// @import '~react-datepicker/dist/react-datepicker.css';


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "styles/variables";
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "styles/fonts";
@import "styles/functions";

/* === Icon fonts === */
@import "~@mdi/font/scss/materialdesignicons";


/* === Template mixins === */
@import "styles/mixins/animation";
@import "styles/mixins/badges";
@import "styles/mixins/buttons";
@import "styles/mixins/misc";
@import "styles/mixins/color-functions";
@import "styles/mixins/cards";
@import "styles/mixins/blockqoute";
@import "styles/mixins/popovers";
@import "styles/mixins/tooltips";
@import "styles/mixins/no-ui-slider";


/* === Core Styles === */
@import "styles/background";
@import "styles/typography";
@import "styles/reset";
@import "styles/responsive";
@import "styles/misc";
@import "styles/utilities";
// @import "styles/demo";
@import "styles/spinner";
// @import "styles/dashboard";

/* === Components === */

@import "styles/components/widgets";
@import "styles/components/forms";
@import "styles/components/checkbox-radio";
@import "styles/components/icons";
@import "styles/components/tables";
@import "styles/components/accordions";
// @import "styles/components/buttons";
@import "styles/components/breadcrumbs";
@import "styles/components/badges";
// @import "styles/components/cards";
// @import "styles/components/preview";
@import "styles/components/tooltips";
@import "styles/components/user-profile";
@import "styles/components/popovers";
@import "styles/components/lists";
@import "styles/components/bootstrap-progress";
// @import "styles/components/bootstrap-alerts";
// @import "styles/components/tabs";
@import "styles/components/dropdowns";
@import "styles/components/pagination";
// @import "styles/components/loaders/loaders";
@import "styles/components/timeline";
@import "styles/components/portfolio";
@import "styles/components/pricing-table";
@import "styles/components/email/mail-list-container";
@import "styles/components/email/mail-sidebar";
@import "styles/components/email/message-content";
// @import "styles/components/todo-list";
@import "styles/components/spinner";
// @import "styles/components/tickets";
@import "styles/components/project-list";
@import "styles/components/product-tile";
@import "styles/components/user-listing";
@import "styles/components/landing";
// @import "styles/components/chats";
@import "styles/components/kanban";
@import "styles/components/react-table";

@import "styles/components/landing-screens/auth";

/* === Plugin Overrides === */
@import "styles/components/plugin-overrides/contex-menu";
@import "styles/components/plugin-overrides/no-ui-slider";
@import "styles/components/plugin-overrides/slick-carousel";
@import "styles/components/plugin-overrides/rating";
@import "styles/components/plugin-overrides/date-picker";
// @import "styles/components/plugin-overrides/wizard";
@import "styles/components/plugin-overrides/react-bootstrap-table";
@import "styles/components/plugin-overrides/sweet-alert";
@import "styles/components/plugin-overrides/full-calendar";
@import "styles/components/plugin-overrides/react-photo-gallery";
@import "styles/components/plugin-overrides/react-tag-autocomplete";
@import "styles/components/plugin-overrides/jquery-jvectormap";
@import "styles/components/plugin-overrides/react-table";

/* === Layout === */
@import "styles/navbar";
@import "styles/sidebar";
@import "styles/footer";
@import "styles/layout";
// @import "styles/settings-panel";