  
  .inputbox-field:focus {
    border: 2px solid dodgerblue;
  }

  .profile-menu-border {
    border-radius: 30px;
    border: 2px solid #e5cdcd;
  }
  .profile-menu-container {
    padding: 1px;
    justify-content: center;
}