
.p-top-sm {
  padding-top: 8px;
}
.p-top-md {
  padding-top: 16px;
}
.p-top-lg {
  padding-top: 24px;
}
.p-top-xl {
  padding-top: 32px;
}

.p-left-sm {
  padding-left: 8px;
}
.p-left-md {
  padding-left: 16px;
}
.p-left-lg {
  padding-left: 24px;
}
.p-left-xl {
  padding-left: 32px;
}
.p-no {
  padding: 0px !important;
}

.m-top-sm {
  margin-top: 8px;
}
.m-top-md {
  margin-top: 16px;
}
.m-top-lg {
  margin-top: 24px;
}
.m-top-xl {
  margin-top: 32px;
}

.m-bot-sm {
  margin-bottom: 8px;
}
.m-bot-md {
  margin-bottom: 16px;
}
.m-bot-lg {
  margin-bottom: 24px;
}
.m-bot-xl {
  margin-bottom: 32px;
}

.m-left-sm {
  margin-left: 8px;
}
.m-left-md {
  margin-left: 16px;
}
.m-left-lg {
  margin-left: 24px;
}
.m-left-xl {
  margin-left: 32px;
}

.m-right-sm {
  margin-right: 8px;
}
.m-right-md {
  margin-right: 16px;
}
.m-right-lg {
  margin-right: 24px;
}
.m-right-xl {
  margin-right: 32px;
}

.sf-flex {
  display: flex;
}
.sf-justify {
  justify-content: space-between;
}
@media only screen and (max-width: 678px) {
  .nopadding {
    padding: 0px !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
.text-red{
  color:#e6473d;
}
.border-red{
 border:  5px solid red;
}

.label {
  display: block;
  margin-top: 1em;
}

.input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
