  
  .inputbox-field:focus {
    border: 2px solid dodgerblue;
  }

  .profile-menu-container {
    border-radius: 30px;
    border: 2px solid #e5cdcd;
    padding: 5px;
    width: 100px;
    margin: 5px;
    justify-content: center;
}